*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: rgb(161, 93, 28);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 0;
}
.titulo{
    font: size 50px;;
}

.cabeçalho-imagem{
    width: 25%;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 25px;
}
.titulo-personalidades{
    padding: 20px;
}
.imagem-zumbi{
    width: 14%;
}
.titulo-zumbi{
    padding: 10px;
}
.imagem-aleijadinho{
    width: 18%;
}
.titulo-aleijadinho{
    padding: 10px;
}
.imagem-pixinguinha{
    width: 20%;
}
.titulo-pixinguinha{
    padding: 10px;
}
.imagem-milton{
    width: 20%;
}
.titulo-milton{
    padding: 10px;
}
.imagem-emicida{
    width: 20%;
}
.titulo-emicida{
    padding: 10px;
}
.titulo-personalidades2{
    padding: 20px;
}
.titulo-justiano{
    padding: 10px;
}
.imagem-reboucas{
    width: 24%;
}
.titulo-reboucas{
    padding: 10px;
}
.imagem-mulato{
    width: 30%;
}
.titulo-mulato{
    padding: 10px;
}
.imagem-carmem{
    width: 20%;
}
.titulo-carmem{
    padding: 10px;
}
.imagem-fernandinho{
    width: 20%;
}
.titulo-fernandinho{
    padding: 10px;
}
.titulo-personalidade3{
    padding: 20px;
}
.imagem-feiosinha{
    width: 20%;
}
.titulo-feiosinha{
    padding: 10px;
}
.titulo-professora{
    padding: 10px;
}
.imagem-palminor{
    width: 20%;
}
.titulo-palminor{
    padding: 10px;
}
.imagem-laura{
    width: 22%;
}
.titulo-laura{
    padding: 10px;
}
.imagem-conka{
    width: 25%;
}
.titulo-conka{
    padding: 10px;
}
.imagem-crente{
    width: 25%;
}
.tia-cléia{
    padding: 20px;
    justify-content: space-between;
}
.bonus-titulo{
    padding: 20px;
}
.finalização{
    padding: 20px;
}

